.sidecartitem-title{
    /* display:  */
}
cart-item-body{
    display: flex;
    flex-direction: column;
}
@media(max-width: 960px){
    .cart-item{
        display: block !important;
        text-align: center !important;
    }
    .cart-item-image{
        margin: 0 auto;
    }
    .transition-container{
        order: 5;
    }
}