.delivery-option-title{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}
.delivery-option-price{
    display: inline-block;
    margin-left: auto;
}

.delivery-option-subheading{
    font-size: 12px;
    color: gray;
}

.delivery-options-container{
    margin-right: 0;
    justify-content: space-around;
}