:root {
    --mainPink: #ef7998;
    --mainYellow: rgb(249, 228, 148);
    --mainWhite: #fff;
    --mainBlack: #000;
    --yellowTrans: rgba(249, 228, 148, 0.5);
    --mainGrey: rgb(238, 238, 238);
  }
.store {
    background: var(--mainGrey);
  }
  .img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 90%;
  }
  .store-img {
    transition: all 0.5s ease-in-out;
  }
  .img-container:hover .store-img {
    transform: scale(1.2);
  }
  .store-item-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.75rem;
    background: var(--mainYellow);
    border-top-left-radius: 1rem;
    transition: all 0.4s ease-in-out;
    transform: translate(100%, 100%);
  }
  .img-container:hover .store-item-icon {
    transform: translate(0, 0);
  }
 
  .store-item-value {
    color: --mainYellow;
  }

  .banner-title {
    color: var(--mainPink);
    font-size: 4rem;
  }
  .card-body{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .card{
    height: 100%;
  }
